{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                <p>Опубликовано: {{ post.published_date }}</p>
            </div>
            <h1><p align="center"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></p></h1>
            {% if post.image %}
            <img src="{{ post.image.url}}" alt="{{ post.title }}"><br>
            {% endif %}
            <p><big>{{ post.text|linebreaksbr|truncatechars:300 }}</big></p>
            <p align="center"><a href="{% url 'post_detail' pk=post.pk %}"><font color="black"><big><strong>Читать >>></strong></big></a></p>
        </div>
    {% endfor %}
    <div align="center">{% include "../pagination.html" with page=posts %}</div>
{% endblock %}